$background: rgba(255, 255, 255, 0.05)
$controls-height: 60px

$text: #fff
$text-secondary: #ccc
$brand: #c75e58

$button-bg: $background
$button-bg-hover: transparentize(#c75e58, 0.8)
$button-bg-active: #c75e58
$button-bg-active-hover: transparentize(#c75e58, 0.2)

@mixin control-button
  background-color: $button-bg
  line-height: $controls-height
  height: $controls-height
  width: $controls-height
  text-decoration: none
  display: inline-block
  text-align: center
  font-size: 24px
  color: $text
  &.active
    background-color: $button-bg-active
    &:hover
      background-color: $button-bg-active-hover
  &:hover
    background-color: $button-bg-hover

@mixin transition($params)
  -webkit-transition: $params
  transition: $params

.akko-ui
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
  position: absolute
  height: 100%
  width: 100%
  color: #fff
  z-index: 1
  opacity: 0.2
  @include transition(opacity 200ms ease-in-out)
  &:hover
    opacity: 1
  &-info
    background-color: $background
    display: inline-block
    font-size: 1rem
    padding: 10px
    color: #fff

  &-player-state
    background: $background
    text-align: center
    padding: 5px 10px

  &-track-list
    &-item
      color: $text !important
      text-decoration: none
      margin-top: 10px
      display: block
      span
        display: inline-block
        text-align: right
        opacity: 0.5
        width: 20px
      &.active
        color: $brand !important

  &-add-tracks
    line-height: 1.4rem
    text-align: center
    margin-top: 20px
    &, a
      color: $text-secondary !important

  &-controls
    background-color: $background
    height: $controls-height
    position: absolute
    width: 100%
    bottom: 0
    left: 0
    &-play
      @include control-button
